# CODEOWNERS

# Default owners for everything in the repository
* @salmansaidibrohim267-prog

# CI/CD pipeline changes
/.github/workflows/ @salmansaidibrohim267-prog

# Documentation
/docs/ @salmansaidibrohim267-prog
README.md @salmansaidibrohim267-prog
CHANGELOG.md @salmansaidibrohim267-prog
